
services:
  postgres:
    image: postgres:15-alpine
    container_name: notes-postgres
    environment:
      POSTGRES_USER: notesuser
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: notesdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api: 
    build:
      context: .
      dockerfile: Dockerfile
    ports: 
      - "8000:8000"
    environment:
      - "DATABASE_URL=postgresql://notesuser:${POSTGRES_PASSWORD}@postgres:5432/notesdb"
    depends_on:
      - postgres


volumes:
  postgres_data:
